Earth_In_Beats.WebService.TestApp/Earth_In_Beats.WebService.IntegrationTests/Service References/Earth_in_Beats.WebService/PlayerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65118/PlayerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDeviceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceData" nillable="true" type="tns:DeviceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceData" nillable="true" type="tns:ArrayOfDeviceData" />
  <xs:complexType name="DeviceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTrack" nillable="true" type="tns:TrackData" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="PublicKey" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceData" nillable="true" type="tns:DeviceData" />
  <xs:complexType name="TrackData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackData" nillable="true" type="tns:TrackData" />
  <xs:complexType name="DeviceContextData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceContextData" nillable="true" type="tns:DeviceContextData" />
</xs:schema>