Earth_In_Beats.WebService.TestApp/Earth_In_Beats.WebService.TestApp/Service References/PlayerService/PlayerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65118/PlayerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="ConnectResult" nillable="true" type="q1:DeviceContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="device" nillable="true" type="q2:DeviceContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="GetResult" nillable="true" type="q3:ArrayOfDeviceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="device" nillable="true" type="q4:DeviceContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="UpdateResult" nillable="true" type="q5:DeviceContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Play">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="device" nillable="true" type="q6:DeviceContextData" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="track" nillable="true" type="q7:TrackData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Earth_In_Beats.WebService.WCF.Models" minOccurs="0" name="device" nillable="true" type="q8:DeviceContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>